.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.logo {
  width: 90px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

/* Ações */
.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Link e botão */
.link {
  font-size: 13px;
  color: #1a73e8;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  float: right;
}

button:hover {
  background-color: #a30000;
}
