<aside class="youtube-menu">
  <div class="logo">
    <img src="https://www.youtube.com/s/desktop/055fba57/img/favicon_144.png" alt="YouTube Logo" />
    <span>YouTube</span>
  </div>

  <nav>
    <ul class="menu-section">
      <li><i class="icon">🏠</i><span>Início</span></li>
      <!-- <li><i class="icon">🔥</i><span>Shorts</span></li>
      <li><i class="icon">📺</i><span>Inscrições</span></li> -->
    </ul>

    <hr />

    <ul class="menu-section">
      <li (click)="abrirDialogEstatistica()"><i class="icon">📚</i><span>Estatisticas</span></li>
      <li><i class="icon">🕒</i><span>Histórico</span></li>
      <li (click)="abrirDialogVideo($event)"><i class="icon">▶️</i><span>Adicionar Vídeo</span></li>
      <li><i class="icon">▶️</i><span>Seus vídeos</span></li>
      <!-- <li><i class="icon">⏱️</i><span>Assistir mais tarde</span></li>
      <li><i class="icon">👍</i><span>Vídeos marcados</span></li> -->
    </ul>

    <hr />

    <ul class="menu-section">
      <li class="section-title">Inscrições</li>
      <li><i class="icon">👤</i><span>Canal 1</span></li>
      <li><i class="icon">👤</i><span>Canal 2</span></li>
      <li><i class="icon">👤</i><span>Canal 3</span></li>
    </ul>

    <hr />

    <ul class="menu-section">
      <li><i class="icon">⚙️</i><span>Configurações</span></li>
      <!-- <li><i class="icon">🚩</i><span>Histórico de denúncias</span></li>
      <li><i class="icon">❓</i><span>Ajuda</span></li>
      <li><i class="icon">💡</i><span>Enviar feedback</span></li> -->
    </ul>
  </nav>
</aside>
